[data-popout-root].newBrand, html.newBrand {
	--brand-experiment-100: #FFFFFF;
	--brand-experiment-160: #FFFFFF;
	--brand-experiment-200: #FFFFFF;
	--brand-experiment-230: #FFFFFF;
	--brand-experiment-260: #FFFFFF;
	--brand-experiment-300: #FFFFFF;
	--brand-experiment-330: #E8ECF9;
	--brand-experiment-360: #D1D8F3;
	--brand-experiment-400: #B9C4ED;
	--brand-experiment-430: #A1B1E6;
	--brand-experiment-460: #8A9DE0;
	--brand-experiment: #7289DA;
	--brand-experiment-500: #5E78D5;
	--brand-experiment-530: #4A68D0;
	--brand-experiment-560: #3657CA;
	--brand-experiment-600: #314FBA;
	--brand-experiment-630: #2B47A6;
	--brand-experiment-660: #263E92;
	--brand-experiment-700: #21357E;
	--brand-experiment-730: #1C2D6A;
	--brand-experiment-760: #162456;
	--brand-experiment-800: #111C42;
	--brand-experiment-830: #0C132E;
	--brand-experiment-860: #070B1A;
	--brand-experiment-900: #020206;
	--brand-experiment-05a: rgba(114, 137, 218, 0.05);
	--brand-experiment-10a: rgba(114, 137, 218, 0.1);
	--brand-experiment-15a: rgba(114, 137, 218, 0.15);
	--brand-experiment-20a: rgba(114, 137, 218, 0.2);
	--brand-experiment-25a: rgba(114, 137, 218, 0.25);
	--brand-experiment-30a: rgba(114, 137, 218, 0.3);
	--brand-experiment-35a: rgba(114, 137, 218, 0.35);
	--brand-experiment-40a: rgba(114, 137, 218, 0.4);
	--brand-experiment-45a: rgba(114, 137, 218, 0.45);
	--brand-experiment-50a: rgba(114, 137, 218, 0.5);
	--brand-experiment-55a: rgba(114, 137, 218, 0.55);
	--brand-experiment-60a: rgba(114, 137, 218, 0.6);
	--brand-experiment-65a: rgba(114, 137, 218, 0.65);
	--brand-experiment-70a: rgba(114, 137, 218, 0.7);
	--brand-experiment-75a: rgba(114, 137, 218, 0.75);
	--brand-experiment-80a: rgba(114, 137, 218, 0.8);
	--brand-experiment-85a: rgba(114, 137, 218, 0.85);
	--brand-experiment-90a: rgba(114, 137, 218, 0.9);
	--brand-experiment-95a: rgba(114, 137, 218, 0.95);
	--font-display: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
